.btn-menu{
    background-color: var(--color-background-secondary);
    color: white;
    border-radius: .1rem !important;
    border: none;
    transition: .3s;
}

.btn-menu:hover{
    background-color: var(--color-background-secondary-hover);
}

.menu{
    display: flex;
    height: 3rem;
    margin: 0rem auto;
    background-color: var(--color-background-secondary);
    justify-content: center;
    text-align: center;

}