#cadastro-form{
    width: 35%;
    text-align: center;
}

#cadastro-form input{
    margin: 1rem auto;
    width: 100%;
}

#cadastro-form input+button{
    margin: 2rem auto 1rem auto;
}

#cadastro-form div+button{
    margin: 1rem auto 1rem auto;
}