.danger{
    color: var(--color-danger);
    background-color: var(--color-background-danger);
    border-color: var(--color-border-danger);
}

.info{
    color: var(--color-info);
    background-color: var(--color-background-info);
    border-color: var(--color-border-info);
}

.success{
    color: var(--color-success);
    background-color: var(--color-background-success);
    border-color: var(--color-border-success);
}

.alert{
    border-radius: .5rem;
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem auto;
    padding: .8rem;

}